<!DOCTYPE html>
<html>
<head>
    <title>APK版本管理</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <link href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css" rel="stylesheet">
    <link href="../../plugins/ztree/css/metroStyle/metroStyle.css" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../libs/ajaxupload.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-default" id="upload"><i class="fa fa-plus"></i>&nbsp;上传APK文件</a>
            <a @click="update" class="btn btn-primary" v-if="hasPermission('apkversion:apkversion:update')"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a @click="del" class="btn btn-primary" v-if="hasPermission('apkversion:apkversion:delete')"><i
                    class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div class="panel panel-default" v-show="!showList">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">文件名</div>
                <div class="col-sm-10">
                    <input class="form-control" disabled="disabled" placeholder="文件名" type="text"
                           v-model="apkVersion.appName"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">版本码</div>
                <div class="col-sm-10">
                    <input class="form-control" disabled="disabled" placeholder="版本码" type="text"
                           v-model="apkVersion.versionCode"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">包名</div>
                <div class="col-sm-10">
                    <input class="form-control" disabled="disabled" placeholder="包名" type="text"
                           v-model="apkVersion.packageName"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">MD5值</div>
                <div class="col-sm-10">
                    <input class="form-control" disabled="disabled" placeholder="MD5值" type="text"
                           v-model="apkVersion.md5Value"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">文件大小</div>
                <div class="col-sm-10">
                    <input class="form-control" disabled="disabled" placeholder="文件大小" type="text"
                           v-model="apkVersion.fileSize"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">版本号</div>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="版本号" type="text" v-model="apkVersion.versionName"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">更新内容</div>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="更新内容" type="text" v-model="apkVersion.updateContent"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">下载地址</div>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="下载地址" type="text" v-model="apkVersion.downloadUrl"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">是否强制安装</div>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input checked name="isForce" type="radio" v-model="apkVersion.isForce" value="0"/> 否
                    </label>
                    <label class="radio-inline">
                        <input name="isForce" type="radio" v-model="apkVersion.isForce" value="1"/> 是
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">是否可忽略该版本</div>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input checked name="isIgnorable" type="radio" v-model="apkVersion.isIgnorable" value="0"/> 否
                    </label>
                    <label class="radio-inline">
                        <input name="isIgnorable" type="radio" v-model="apkVersion.isIgnorable" value="1"/> 是
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">是否静默下载</div>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input checked name="isSilent" type="radio" v-model="apkVersion.isSilent" value="0"/> 否
                    </label>
                    <label class="radio-inline">
                        <input name="isSilent" type="radio" v-model="apkVersion.isSilent" value="1"/> 是
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input @click="saveOrUpdate" class="btn btn-primary" type="button" value="确定"/>
                &nbsp;&nbsp;<input @click="reload" class="btn btn-warning" type="button" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/apkversion/apkversion.js"></script>
</body>
</html>